.cartNum {
  text-align: center;
  border-radius: 0;
  border: 1px solid #b2b2b2;
  height: 38px;
}
.input-group-text {
  height: 38px;
  width: 42px;
  border: 1px solid #b2b2b2;
}
.cart-foot-underline {
  border-bottom: none;
}

/* Cart.vue */
.cart {
  padding-top: 66px;
}
.cart-banner {
  @include banner('~@/assets/img/cart_banner.jpg', 300px);
  position: relative;
  &::before {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}
.order {
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  & .orderList {
    list-style: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #b2b2b2;
  }
  & .orderImg {
    width: 70px;
    height: 90px;
    margin: 0 auto;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      vertical-align: middle;
    } 
  }
}
@include smobile {
  .order .orderImg {
    width: 80px;
    height: 90px;
  }
}
@include mobile {
  .order .orderImg {
    width: 90px;
    height: 90px;
  }
}